/*--global--*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
body {
    background: linear-gradient(135deg, #153677, #4e085f);
}

.container{
    width: 100%;
    min-height:100vh;
    padding: 10px;

}

.todo-app {
    background: #fff;
    padding: 20px;
    margin: 100px auto;
    width: 100%;
    max-width: 550px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app img {
    width: 30px;
    margin-left: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #efeef0;
    padding-left: 20px;
    margin-bottom: 25px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

input {
    background: transparent;
    padding: 10px;
    flex: 1;
}

button {
    background: #ff5945;
    padding: 16px 50px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

ul li {
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url(imgs/unchecked.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: 8px;
    top: 12px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(imgs/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

ul li span:hover {
    background: #555;
    color: #fff;
}